[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aggreCAT"]
	path = aggreCAT
	url = https://github.com/metamelb-replicats/aggrecat
